# vim: set ft=sshconfig:

Host undergrad
    ForwardX11 no
    Hostname cs.ox.ac.uk
    IdentitiesOnly=yes
    IdentityFile ~/.ssh/cs_labs
    LocalForward 8001 localhost:7000
    Port 22
    User emiliko

Host waybook
    Hostname 192.168.0.10
    IdentitiesOnly=yes
    IdentityFile ~/.ssh/waybook
    LocalForward 9002 localhost:9001
    Port 22
    User emiliko

Host github.com
    Hostname github.com
    IdentityFile ~/.ssh/github_main

Host codeberg.org
    Hostname codeberg.org
    IdentityFile ~/.ssh/codeberg_main

Host *sr.ht
    IdentityFile ~/.ssh/sourcehut_main
    PreferredAuthentications publickey
