[Unit]
Description=Backing up bash history
Wants=bash_eternal_backup.timer

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/usr/local/bin/bash_eternal_backup.sh
