[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 800 'niri msg action power-off-monitors' resume 'niri msg action power-on-monitors' timeout 1200 '~/.config/sway/suspend_system.sh' after-resume 'niri msg output on' before-sleep 'swaylock'
Restart=on-failure
